@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 32 99% 95%;
  --foreground: 32 5% 10%;
  --card: 32 50% 90%;
  --card-foreground: 32 5% 14%;
  --popover: 32 99% 95%;
  --popover-foreground: 32 99% 10%;
  --primary: 32 42% 29%;
  --primary-foreground: 0 0% 100%;
  --secondary: 32 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -6 30% 85%;
  --muted-foreground: 32 5% 35%;
  --accent: -6 30% 80%;
  --accent-foreground: 32 5% 14%;
  --destructive: 0 99% 30%;
  --destructive-foreground: 32 5% 90%;
  --border: 32 30% 50%;
  --input: 32 30% 18%;
  --ring: 32 42% 29%;
  --radius: 0.5rem;
}
.dark  {
  --background: 32 50% 10%;
  --foreground: 32 5% 90%;
  --card: 32 50% 10%;
  --card-foreground: 32 5% 90%;
  --popover: 32 50% 5%;
  --popover-foreground: 32 5% 90%;
  --primary: 32 42% 29%;
  --primary-foreground: 0 0% 100%;
  --secondary: 32 30% 14%;
  --secondary-foreground: 0 0% 100%;
  --muted: -6 30% 15%;
  --muted-foreground: 32 5% 60%;
  --accent: -6 30% 15%;
  --accent-foreground: 32 5% 90%;
  --destructive: 0 99% 30%;
  --destructive-foreground: 32 5% 90%;
  --border: 32 30% 18%;
  --input: 32 30% 18%;
  --ring: 32 42% 29%;
  --radius: 0.5rem;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

